
#app {
  position: absolute;
  top: 10%;
  left: calc(50% - 100px);
  width: 200px;
  align-items: center;
}

:root {
  --dp-hover: #0399f7;
  --dp-color: #063360;
  --dp-background: #fdfdfd;
  --dp-month-day: #c7c9d3;
  --dp-selected: #0399a7;
  --dp-placeholder: #acacac;
}
:focus {
  outline: none;
}